<h2><center>Bienvenido a la pagina de administrador! {{usuario}}</center></h2>
<form action="/edit" method="GET" class="container-sm">
    <div class="mb-3 form-check">
        <input type="submit" class="btn btn-primary" value="Tabla">
    </div>
</form>

