<h2><center>Bienvenido!</center></h2>
<main>
    <div class="col-auto shadow p-3 mb-5 bg-light rounded border border-success" id="reglas">
        <p>El objetivo del juego es simple, adivinar la palabra oculta. La palabra tiene 7 letras y tienes 5 intentos para adivinarla. La palabra es la misma para todas las personas en ese día.</p>
        <p>Cada intento debe ser una palabra válida. En cada ronda el juego pinta cada letra dependiendo si es correcta o no:</p>
        <p>VERDE: la letra está en la palabra y en la posición CORRECTA.</p>
        <p>AMARILLO: la letra letra está presente en la palabra pero en la posición INCORRECTA.</p>
        <p>GRIS: la letra letra NO está presente en la palabra.</p>
    </div>
    <div class="col-auto shadow p-3 mb-5 bg-light rounded border border-success" id="objetivo">
        <p>sostenibLE es un juego, basado en el Wordle, que consiste en encontrar una palabra secreta a partir de las letras que la componen. Además, en sostenibLE, todas las palabras del juego están relacionadas con la Agenda 2030 y sus respectivos Objetivos de Desarrollo Sostenible</p>
    </div>
    <center>
        <div>
            <input name="1" style="background-color: #FFFFFF" class="square" id="input0" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) input1.focus()">
            <input name="1" style="background-color: #FFFFFF" class="square" id="input1" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) input2.focus()">
            <input name="1" style="background-color: #FFFFFF" class="square" id="input2" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) input3.focus()">
            <input name="1" style="background-color: #FFFFFF" class="square" id="input3" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) input4.focus()">
            <input name="1" style="background-color: #FFFFFF" class="square" id="input4" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) input5.focus()">
            <input name="1" style="background-color: #FFFFFF" class="square" id="input5" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) input6.focus()">
            <input name="1" style="background-color: #FFFFFF" class="square" id="input6" maxlength="1">
        </div>
        <br>
        <div>
            <input name="2" style="background-color: #FFFFFF" class="square" id="input7" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input8.focus()">
            <input name="2" style="background-color: #FFFFFF" class="square" id="input8" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input9.focus()">
            <input name="2" style="background-color: #FFFFFF" class="square" id="input9" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input10.focus()">
            <input name="2" style="background-color: #FFFFFF" class="square" id="input10" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input11.focus()">
            <input name="2" style="background-color: #FFFFFF" class="square" id="input11" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input12.focus()">
            <input name="2" style="background-color: #FFFFFF" class="square" id="input12" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input13.focus()">
            <input name="2" style="background-color: #FFFFFF" class="square" id="input13" maxlength="1" disabled>
        </div>
        <br>
        <div>
            <input name="3" style="background-color: #FFFFFF" class="square" id="input14" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input15.focus()">
            <input name="3" style="background-color: #FFFFFF" class="square" id="input15" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input16.focus()">
            <input name="3" style="background-color: #FFFFFF" class="square" id="input16" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input17.focus()">
            <input name="3" style="background-color: #FFFFFF" class="square" id="input17" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input18.focus()">
            <input name="3" style="background-color: #FFFFFF" class="square" id="input18" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input19.focus()">
            <input name="3" style="background-color: #FFFFFF" class="square" id="input19" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input20.focus()">
            <input name="3" style="background-color: #FFFFFF" class="square" id="input20" maxlength="1" disabled>
        </div>
        <br>
        <div>
            <input name="4" style="background-color: #FFFFFF" class="square" id="input21" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input22.focus()">
            <input name="4" style="background-color: #FFFFFF" class="square" id="input22" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input23.focus()">
            <input name="4" style="background-color: #FFFFFF" class="square" id="input23" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input24.focus()">
            <input name="4" style="background-color: #FFFFFF" class="square" id="input24" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input25.focus()">
            <input name="4" style="background-color: #FFFFFF" class="square" id="input25" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input26.focus()">
            <input name="4" style="background-color: #FFFFFF" class="square" id="input26" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input27.focus()">
            <input name="4" style="background-color: #FFFFFF" class="square" id="input27" maxlength="1" disabled>
        </div>
        <br>
        <div>
            <input name="5" style="background-color: #FFFFFF" class="square" id="input28" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input29.focus()">
            <input name="5" style="background-color: #FFFFFF" class="square" id="input29" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input30.focus()">
            <input name="5" style="background-color: #FFFFFF" class="square" id="input30" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input31.focus()">
            <input name="5" style="background-color: #FFFFFF" class="square" id="input31" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input32.focus()">
            <input name="5" style="background-color: #FFFFFF" class="square" id="input32" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input33.focus()">
            <input name="5" style="background-color: #FFFFFF" class="square" id="input33" maxlength="1" disabled onkeyup="if (this.value.length == this.getAttribute('maxlength')) input34.focus()">
            <input name="5" style="background-color: #FFFFFF" class="square" id="input34" maxlength="1" disabled>
        </div>
    </center>
</main>
<form action="/sumaPoints" method="PUT" class="container-sm">
    <div class="mb-3 form-check">
        <input type="submit" onclick="showPoints()" class="btn btn-primary" value="Tabla">
    </div>
</form>

<script>
    
</script>