<h2><center>Bienvenido! {{usuario}}</center></h2>
<main>
    <center>
        <div>
            <input style="background-color: red" class="square" id="sq1" maxlength="1">
            <input style="background-color: burlywood" class="square" id="sq2" maxlength="1">
            <input style="background-color: green" class="square" id="sq3" maxlength="1">
            <input style="background-color: #8C1900" class="square" id="sq4" maxlength="1">
            <input style="background-color: #DD2D07" class="square" id="sq5" maxlength="1">
            <input style="background-color: #08FBEE" class="square" id="sq6" maxlength="1">
            <input style="background-color: #FBF908" class="square" id="sq7" maxlength="1">
        </div>
        <br>
        <div>
            <input class="square" maxlength="1">
            <input style="background-color: #FBF908" class="square" maxlength="1">
            <input style="background-color: red" class="square" maxlength="1">
            <input style="background-color: burlywood" class="square" maxlength="1">
            <input style="background-color: green" class="square" maxlength="1">
            <input style="background-color: #FF29E8" class="square" maxlength="1">
            <input style="background-color: #8C1900" class="square" maxlength="1">
        </div>
        <br>
        <div>
            <input style="background-color: green" class="square" maxlength="1">
            <input style="background-color: rgb(223, 51, 180)" class="square" maxlength="1">
            <input style="background-color: yellow" class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input style="background-color: rgb(35, 9, 179)" class="square" maxlength="1">
            <input style="background-color: rgb(255, 10, 10)" class="square" maxlength="1">
            <input style="background-color: #efb810" class="square" maxlength="1">
        </div>
        <br>
        <div>
            <input style="background-color: #efb810" class="square" maxlength="1">
            <input style="background-color: #FF29E8" class="square" maxlength="1">
            <input style="background-color: #08FBEE" class="square" maxlength="1">
            <input style="background-color: red" class="square" maxlength="1">
            <input style="background-color: burlywood" class="square" maxlength="1">
            <input style="background-color: green" class="square" maxlength="1">
            <input class="square" maxlength="1">
        </div>
        <br>
        <div>
            <input style="background-color: #FF29E8" class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input style="background-color: green" class="square" maxlength="1">
            <input style="background-color: red" class="square" maxlength="1">
            <input style="background-color: yellow" class="square" maxlength="1">
            <input style="background-color: #08FBEE" class="square" maxlength="1">
            <input style="background-color: burlywood" class="square" maxlength="1">
        </div>
    </center>
</main>



<form action="/table" method="GET" class="container-sm">
    <div class="mb-3 form-check">
        <input type="submit" class="btn btn-primary" value="Tabla">
    </div>
</form>