<h2><center>Bienvenido! {{usuario}}</center></h2>
<main>
    <center>
        <div>
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
        </div>
        <br>
        <div>
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
        </div>
        <br>
        <div>
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
        </div>
        <br>
        <div>
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
        </div>
        <br>
        <div>
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
            <input class="square" maxlength="1">
        </div>
    </center>
</main>



<form action="/table" method="GET" class="container-sm">
    <div class="mb-3 form-check">
        <input type="submit" class="btn btn-primary" value="Tabla">
    </div>
</form>