<main>
    <table>
        {{#each users}}
            <tr>
                <td>{{this.nombre_usuario}}</td>
                <td>{{this.puntaje}}</td>
            </tr>
        {{/each}}
    </table>
</main>
