<table>
    <tr>
        <th style="width:30%">id_usuario</th>
        <th style="width:30%">Username</th>
        <th style="width:30%">Juegos ganados</th>
        <th style="width:30%">Errores</th>
        <th style="width:30%">Partidas jugadas</th>
    </tr>
    
        {{#each users}}
        <tr>
            <td>{{this.id_usuario}}</td>
            <td>{{this.username}}</td>
            <td>{{this.dni}}</td>
            <td>{{this.password}}</td>
        </tr>
        {{/each}}
</table>