<form action="/register" method="POST" class="container-sm">
    <center><div class="col-auto shadow p-3 mb-5 bg-light rounded border border-secondary" id="contenedor">
        <center><div class="mb-3 form-group">
            <label for="usuarioId" class="form-label">DNI</label>
            <center><input type="text" class="form-control" id="dni" name="dni" value="" placeholder="Ingrese un DNI"></center>
        </div></center>
        <center><div class="mb-3 form-group">
            <label for="usuarioId" class="form-label">Nombre completo</label>
            <center><input type="text" class="form-control" id="nameId" name="Name" value="" placeholder="Ingrese su nombre completo"></center>
        </div></center>
        <center><div class="mb-3 form-group">
            <label for="usuarioId" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuarioId" name="Usuario" value="" placeholder="Ingrese su nombre de usuario">
        </div></center>
        <center><div class="mb-3 form-group">
            <label for="usuarioId" class="form-label">Password</label>
            <center><input type="password" class="form-control" id="passwordId" name="Contraseña" value="" placeholder="Ingrese su contraseña"></center>
        </div></center>
        <center><div class="mb-3 form-check">
            <center><input type="submit" class="botonregistro2" value="Registrarse"></center>
        </div></center>
    </div></center>
</form>